<div class="banner">
    <div class="content">
        <h1  style="text-shadow: 4px 4px #b72525; " class="mb-5">PUT ISTINE online knjižara 2023</h1>
        <a routerLink="books">NAŠE DOSTUPNE KNJIGE <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center"><span class="highlight"></span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1><i class="bi bi-book"></i></h1>
                <p>Dostupno mnogo različitih naslova</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1><i class="bi bi-envelope-paper-heart"></i></h1>
                <p>Besplatno poručivanje preko interneta</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1><i class="bi bi-house-check-fill"></i></h1>
                <p>Brza dostava</p>
            </div>
        </div>
    </div>
</div>
