.card{
    margin-top: 20px;
    margin-left: 10px;
    float: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 18rem;
    border:2px solid red;
    background-color: rgba(8, 188, 8, 0.764);
}
h1{
    padding-top: 30px;
    text-shadow: 4px 4px #b72525;
    text-align: center; 
    color: rgb(50, 198, 75); 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card p{
    text-shadow: 2px 2px #b72525;
    text-align: center; 
    color: rgb(233, 240, 235); 
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-body{
    text-align: center;
    padding: 0px
}
.card-title{
    padding-top:10px;
}
.list-group-item{
    text-align: center;
    background-color: rgba(248, 54, 54, 0.981); 
    color: white;
}
.ms-n5 {
    margin-left: -40px;
}