<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-5 mx-auto">
            <div class="input-group">
                <input [(ngModel)]="pretraga" (input)="onSearchTextChanged()" class="form-control border-end-0 border rounded-pill" type="search" value="pretrazite knjigu">
                <span  class="input-group-append">
                    <button class="btn btn-outline-secondary bg-green border-bottom-0 border rounded-pill ms-n5" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
  </div>
