<div class="container mt-5 mb-5">

    <h1 class="text-center">O nama</h1>

    <p>
        Najbolja ponuda knjiga na jednom mestu.
    </p>
    <p>
        Online knjižara u kojoj možete pronaći omiljenu knjigu, sa različitim sadržajem, pronaći prigodan poklon za rođendan ili neku drugugu posebnu priliku.
    </p>
    <p>Za svaku porudžbinu na našem sistemu potrebno je da se logujete uz par koraka, ako nemate nalog kreirajte ga, naša administracija će vam u što bržem roku odobriti zahtev.
    </p>  
    <br/>
    <br/>
        <p><b>Adresa:    </b>Milorada Jovanovića 54, Opština Sjenica 36312</p>
        <p><b>Telefon: </b>  020-444-6668</p>
        <p><b>E-adresa: </b> eknjizaraputistine@gmail.com</p>
</div>